body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

a:link {
  color: #ccd;
}

a:visited {
  color: #99a;
}

a:hover {
  color: #fff;
}

a:active {
  color: #fff;
}

.nav-item {
  cursor: pointer;
}

.nav-item.active {
  color: #fff;
}
